<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование категории</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<h1>Редактирование категории</h1>
<form th:method="post" th:action="@{'/category/' + 'edit/' + ${category.id}}" th:object="${category}">
    <label for="name">Название:</label>
    <input type="text" id="name" name="name" th:field="*{name}" required>
    <label for="reason">Причина:</label>
    <input type="text" id="reason" name="reason" th:field="*{reason}" required>
    <label for="status">Статус:</label>
    <input type="text" id="status" name="status" th:field="*{status}" required>
    <input type="submit" value="Сохранить" class="btn-save">
</form>
<a href="/category" class="btn-back">Отмена</a>
</body>
</html>